* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, span {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

input {
  outline: none;
  border: none;
}
